<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    All Roles
                </div>
                <div class="card-body">
                    <button
                    class="btn btn-primary btn-sm" 
                    @click="newModal()"
                    >
                    Add
                    </button> 
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">ID</td>
                                <td scope="col">Role Name</td>
                                <td scope="col">Description</td>
                                <td scope="col">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            v-for="role in roles"
                            :key="role.id">
                                <td scope="row">{{role.id}}</td>
                                <td>{{role.role_name}}</td>
                                <td>{{role.description}}</td>
                                <td>
                                    <button 
                                    class="btn btn-success btn-sm"
                                    @click="editModal(role)"
                                    >Edit</button>
                                    <button 
                                    class="btn btn-danger btn-sm"
                                    @click="deleteRole(role.id)"
                                    >
                                    Delete
                                    </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-show="!editmode" class="modal-title" id="addNewLabel">Add New</h5>
                    <h5 v-show="editmode" class="modal-title" id="addNewLabel">Update Role</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateRole() : createRole()">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="mb-2">Role Name</label>
                        <input 
                        v-model="form.role_name" 
                        type="text"
                        name="role_name"
                        placeholder="Role Name"
                        class="form-control mb-2"
                        />
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Description</label>
                        <input 
                        v-model="form.description" 
                        type="text"
                        name="description"
                        placeholder="Description"
                        class="form-control mb-2"
                        />
                    </div>
                </div> 
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary" @click="createRole">Add</button>
                    <button v-show="editmode" type="submit" class="btn btn-success" @click="updateRole">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data: function() {
        return {
            editmode: false,
            roles: {},
            form: new Form({
                id: '',
                role_name: '',
                description: '',
            }),
        }
    },
    mounted() {
        var app = this;
        this.loadRoles();
    },
    methods: {
        updateRole(){
            this.form.put('api/roles/'+this.form.id)
            .then(() => {
            $('#addNew').modal('hide');
            Swal.fire({
                title: "Updated",
                text: "Role updated!",
                icon: "success",
            })
            Fire.$emit('AfterCreate');
            }).catch(() => {

            });
        },
        editModal(role){
            this.editmode = true;
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(role);
        },
        newModal(){
            this.editmode = false,
            this.form.reset()
            $('#addNew').modal('show');
        },
        loadRoles(){
            axios.get("api/roles/list").then(({data}) => (this.roles = data.data));
        },
        createRole(){
            this.form.post("api/roles/create")
            .then(() => {
            Fire.$emit('AfterCreate');
            $('#addNew').modal('hide')
            Swal.fire({
                title: "Added",
                text: "Role added succesfully!",
                icon: "success",
            })
            })
            .catch(() => {

            })
        },
        deleteRole(id){

            Swal.fire({
                title: "Deleted Role",
                text: "Are you sure you want to delete?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#8ad919",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete",
            }).then((isConfirm) => {
               if(isConfirm.value) {
                    this.form.delete("api/roles/"+id).then(() => {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Role has been deleted!",
                        icon: 'success',
                    })
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    Swal.fire({
                        title: "Failed!",
                        text: "Something Wrong!",
                        icon: "error",
                    });
                })
               }
            });
        },
    },
    created() {
        Fire.$on('AfterCreate', () => {
            this.loadRoles();
        });
    }
}

</script>