<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    All Users
                </div>
                <div class="card-body">
                    <button
                    class="btn btn-primary btn-sm" 
                    @click="newModal()"
                    >
                    Add
                    </button> 
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">ID</td>
                                <td scope="col">Full Name</td>
                                <td scope="col">Email</td>
                                <td scope="col">Role</td>
                                <td scope="col">Created At</td>
                                <td scope="col">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            v-for="user in users"
                            :key="user.id">
                                <td scope="row">{{user.id}}</td>
                                <td>{{user.full_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.roles.role_name}}</td>
                                <td>{{user.created_at_s}}</td>
                                <td>
                                    <button 
                                    class="btn btn-success btn-sm"
                                    @click="editModal(user)"
                                    >Edit</button>
                                    <button 
                                    class="btn btn-danger btn-sm"
                                    @click="deleteUser(user.id)"
                                    >
                                    Delete
                                    </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-show="!editmode" class="modal-title" id="addNewLabel">Add New</h5>
                    <h5 v-show="editmode" class="modal-title" id="addNewLabel">Update User</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="mb-2">Full Name</label>
                        <input 
                        v-model="form.full_name" 
                        type="text"
                        name="full_name"
                        placeholder="Full Name"
                        class="form-control mb-2"
                        />
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Email</label>
                        <input 
                        v-model="form.email" 
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="form-control mb-2"
                        />
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Role</label>
                        <select 
                        class="form-select"
                        name="role_id"
                        v-model="form.role_id"
                        >
                        <option value="0" selected>--Select Role--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Password</label>
                        <input 
                        v-model="form.password" 
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="form-control mb-2"
                        />
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Confirm Password</label>
                        <input 
                        v-model="form.password_confirmation" 
                        type="password"
                        name="password_confirmation"
                        placeholder="Password"
                        class="form-control mb-2"
                        />
                    </div>
                </div> 
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary" @click="createUser">Add</button>
                    <button v-show="editmode" type="submit" class="btn btn-success" @click="updateUser">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data: function() {
        return {
            editmode: false,
            users: {},
            form: new Form({
                id: '',
                full_name: '',
                email: '',
                role_id: '',
                password: '',
                password_confirmation: '',
            }),
            roles: [],
            role: 0,
        }
    },
    mounted() {
        var app = this;
        this.loadUsers();
        this.getRoles();
    },
    methods: {
        newModal(){
            this.editmode = false,
            this.form.reset()
            $('#addNew').modal('show');
        },
        getRoles(){
            var self = this;
            axios.get("api/roles/list")
            .then(resp => {
                self.roles = resp.data.data;
            }).catch(error => {
                console.log(console.error);
            });
        },
        loadUsers(){
            axios.get("api/users/list").then(({data}) => (this.users = data.data));
        },
        deleteUser(id)
        {
            Swal.fire({
                title: "Delete User",
                text: "Are you sure you want to delete?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#8ad919",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete",
            }).then((isConfirm) => {
                if(isConfirm.value) {
                    this.form.delete("api/users/"+id).then(() => {
                        Swal.fire({
                            title: "Deleted!",
                            text: "User has been deleted!",
                            icon: "success",
                        })
                        Fire.$emit('UserLoad');
                    }).catch(() => {
                        Swal.fire({
                            title: "Failed!",
                            text: "Something Wrong!",
                            icon: "error",
                        });
                    })
                }
            });
        },
    },
    created() {
        Fire.$on('UserLoad', () => {
            this.loadUsers();
        });
    }
}

</script>